


<div id="question" class="blockquote">
  <p><%=params[:ask]%></p>
  <p class="blockquote-footer"><em>You</em></p>
</div>


<div id="answer" class="blockquote">
  <p><%=@answer %></p>
  <p class="blockquote-footer"><em>Your Coach</em></p>
</div>

<div class="link">
<%= link_to "Ask another question", ask_path %>
</div>
